@media (max-width: 1024px) {
  /*#pagina-inicial #pagina-inicial-slider .carousel-inner {
    height: 480px;
  }*/

  .pagina-inicial-inner {
    padding-top: 30px;
  }

  .pagina-inicial {
    padding-bottom: 0;
  }
}

@media (max-width: 960px) {
  .navbar-persona {
    font-size: 9px;
  }

  .navbar-persona li > a {
    padding-left: 10px;
    padding-right: 10px;
  }

  #entre-em-contato .titulo {
    font-size: 25px;
  }
}

@media (min-width: 850px) {
  .pagina-inicial-lead {
    width: 790px;
  }
}

@media (max-width: 850px) {
  .pagina-inicial-lead {
    padding-left: 20px;
    top: 20px;
  }

  .pagina-inicial-lead .logo {
    left: 2em;
  }
  
  .pagina-inicial-inner .lead {
    padding-left: 15px;
  }

}

@media (max-width: 769px) {
  .navbar-persona {
    font-size: 8px;
  }

  .pagina-inicial {
    padding-bottom: 30px;
  }

  .pagina-inicial-inner .lead {
    padding-left: 15px;
  }

  #quem-somos .navbar-persona:not(.affix) .navbar-nav {
    margin-top: 6px;
  }

  .navbar-persona .navbar-nav {
    margin: 0;
  }

  #nav-tabs-contato li {
    width: 33%;
    float: left;
  }

  /*#quem-somos .chamada {
    height: 390px;
    background-position-y: 6px;
  }

  #quem-somos .chamada .titulo {
    padding-top: 170px;
  }*/

  #para-quem #clientes .cliente {
    margin-top: 30px;
  }

  #o-que-fazemos .o-que-fazemos .solucoes-logo {
    margin-top: 0;
  }

  #o-que-fazemos .o-que-fazemos .col-md-3:first-child,
  #o-que-fazemos .o-que-fazemos .col-md-3:first-child+.col-md-3 {
    margin-top: -170px;
  }

  #entre-em-contato .inner {
    padding-top: 80px;
  }
}

@media (max-width: 767px) {
  .pagina-inicial {
    padding-bottom: 0px;
  }

  #o-que-fazemos .o-que-fazemos .col-md-3:first-child,
  #o-que-fazemos .o-que-fazemos .col-md-3:first-child+.col-md-3 {
    margin-top: -100px;
  }

  #o-que-fazemos ul {
    padding-left: 20px;
  }

  #entre-em-contato ul {
    font-size: 11px;
  }
}


@media (max-width: 681px) and (min-width: 630px) {
  .pagina-inicial {
      padding-bottom: 40px !important;
  }
}

@media (max-width: 680px) {
  .pagina-inicial-lead .intro-logo {
    margin-top: 0;
  }

  .pagina-inicial-inner .lead p {
    font-size: 31px;
  }

  .pagina-inicial {
      padding-bottom: 120px;
  }
}

@media (max-width: 630px) {
  .pagina-inicial {
    padding-bottom: 40px;
  }

  .pagina-inicial-inner .lead-small p,
  .pagina-inicial-inner .lead p {
    font-size: 25px;
  }

  #para-quem .chamada .titulo {
    margin-top: 20px;
    font-size: 40px;
  }
  
  #quem-somos .chamada .titulo {
      padding-top: 100px;
  }
}

@media (max-width: 540px) {
  .pagina-inicial {
    padding-bottom: 5px;
  }

  .pagina-inicial-lead {
    padding-top: 0px;
    position: relative;
    left: 0;
    top: 0;
    width: 155px;
    padding-left: 0px;
  }

  .pagina-inicial-lead-small {
    width: 100%;
    display: block !important;
    padding-bottom: 94px;
  }

  .pagina-inicial-lead .lead {
    display: none;
  }

  .pagina-inicial-lead .lead-small {
    width: inherit;
  }

  .pagina-inicial-inner .lead-small p {
    line-height: 30px;
  }
}

@media (max-width: 460px) {
  #quem-somos .chamada {
    height: 300px;
  }

  #quem-somos .chamada .titulo {
      padding-top: 100px;
  }

  #entre-em-contato #entre-em-contato-fone,
  #entre-em-contato #entre-em-contato-email {
    width: 100%;
  }

  #o-que-fazemos {
      display: block;
  }

  #o-que-fazemos .o-que-fazemos div {
    width: 100%;
  }

  #o-que-fazemos .o-que-fazemos .col-md-3:first-child {
    margin-top: -100px;
  }

  #o-que-fazemos .o-que-fazemos .col-md-3:first-child+.col-md-3,
  #o-que-fazemos .o-que-fazemos .col-md-3 {
    margin-top: 0;
  }
 
  #para-quem .chamada .titulo {
    margin-top: 20px;
    font-size: 30px;
  }

  #clientes .cliente {
    padding: 0;
  }

  #entre-em-contato .inner {
    padding-top: 120px;
  }
}

@media (max-width: 320px) {
  .pagina-inicial-inner {
    padding-top: 30px;
  }

  #intro-button {
    margin-top: 15px;
  }

  #para-quem .chamada {
    height: 350px;
  }

  #para-quem .chamada .titulo {
    margin-top: 50px;
    font-size: 30px;
  }

  #clientes .cliente {
    width: 100%;
  }
}
