@media (max-width: 1024px) {
  #pagina-inicial #pagina-inicial-slider .carousel-inner {
    height: 480px;
  }

  .pagina-inicial-inner {
    padding-top: 40px;
  }

  .pagina-inicial {
    padding-bottom: 0;
  }

  #pagina-inicial #pagina-inicial-slider .carousel-indicators {
    bottom: 35px;
  }
}

@media (max-width: 960px) {
  .navbar-persona {
    font-size: 9px;
  }

  .navbar-persona li > a {
    padding-left: 10px;
    padding-right: 10px;
  }

  #entre-em-contato .titulo {
    font-size: 25px;
  }
}

@media (max-width: 850px) {
  .pagina-inicial-lead {
    padding-left: 20px;
    top: 20px;
  }

  .pagina-inicial-lead .logo {
    left: 2em;
  }
  
  .pagina-inicial-inner .lead {
    padding-left: 15px;
  }

}

@media (max-width: 769px) {
  .navbar-persona {
    font-size: 8px;
  }

  .pagina-inicial {
    padding-bottom: 30px;
  }

  .pagina-inicial-inner .lead {
    padding-left: 15px;
  }

  .pagina-inicial-inner .lead p {
    line-height: 50.65px;
    font-size: 35.56px;
  }

  #quem-somos .navbar-persona .navbar-nav {
    margin-top: 6px;
  }

  .navbar-persona .navbar-nav {
    margin: 0;
  }

  #nav-tabs-contato li {
    width: 33%;
    float: left;
  }

  #quem-somos .chamada {
    height: 390px;
    background-position-y: 45px;
  }

  #quem-somos .chamada .titulo {
    padding-top: 170px;
  }

  #para-quem #clientes .cliente {
    margin-top: 30px;
  }

  #o-que-fazemos .o-que-fazemos .solucoes-logo {
    margin-top: 0;
  }

  #o-que-fazemos .o-que-fazemos .col-md-3:first-child,
  #o-que-fazemos .o-que-fazemos .col-md-3:first-child+.col-md-3 {
    margin-top: -170px;
  }
}

@media (max-width: 767px) {
  .pagina-inicial {
    padding-bottom: 40px;
  }

  #o-que-fazemos .o-que-fazemos .col-md-3:first-child,
  #o-que-fazemos .o-que-fazemos .col-md-3:first-child+.col-md-3 {
    margin-top: -100px;
  }

  #o-que-fazemos ul {
    padding-left: 20px;
  }

  #entre-em-contato ul {
    font-size: 11px;
  }
}

@media (max-width: 680px) {
  .pagina-inicial-lead .intro-logo {
    margin-top: 0;
  }

  .pagina-inicial-inner .lead p {
    font-size: 31px;
  }

  .pagina-inicial {
      padding-bottom: 120px;
  }
}


@media (max-width: 630px) {
  .pagina-inicial-inner .lead p {
    line-height: 30px;
    font-size: 25px;
  }
}

@media (max-width: 460px) {
  #entre-em-contato #entre-em-contato-fone,
  #entre-em-contato #entre-em-contato-email {
    width: 100%;
  }
}
