.testimonials .titulo {
  font-size: 30px;
}

.testimonials blockquote {
  position: relative;
  background: white;
  min-height: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 50px;
  border: 1px solid #ecedf1;
}

.testimonials blockquote:before {
  content: '';
  position: absolute;
  bottom: -10px;
  right: 65px;
  margin-left: -10px;
  border-top: 10px solid #ecedf1;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.testimonials blockquote:after {
  content: '';
  position: absolute;
  bottom: -8px;
  right: 65px;
  margin-left: -9px;
  border-top: 9px solid white;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
}

.testimonials blockquote p.clients-words {
  font-size: 14px;
}

.testimonials .clients-name {
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.testimonials .carousel {
  padding-bottom: 40px;
}

.testimonials #carousel-example-generic .carousel-inner {
	margin-top: 0;
}

.testimonials .carousel-indicators {
	bottom: 0;
}

.testimonials .carousel-indicators li {
	border-color: #24168f;
}

.testimonials .carousel-indicators .active {
	background-color: #24168f;
}